/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
    --textcolor: #361515; /* Light Gray */
    --primary-color: #7e5200; /* Dark Orange */
    --secondary-color: #580000; /* Dark Blue */
    --link-color: #ff002b; /* Lighter Blue for links */
    --space-background: #002855; /* Dark Blue */
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

img {
    width: 60%;
    height: auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100vh;
    color: var(--textcolor);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    background-size: 100% 100%;
    background-attachment: fixed;
}

h2, .white{
    color: var(--primary-color); /* Dark Orange */
}

a{
    color: var(--link-color); /* Lighter Blue for links */
    text-decoration: none;
}

/* Accent with space color */
h2, .white, a:hover, .caption, ul {
    color: var(--secondary-color); /* Dark Blue */
}

/* section 1 */
.section-1{
    padding-top: 20vh;
    text-align: center;
    padding-right: 5%;
}

.section-1 p{
    font-size: 1.1rem;
    color: var(--textcolor); /* Light Gray */
    margin: 0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}

/* section 2 */
.section-2{
    padding-top: 10vh;
    width: 70%;
    padding-right: 5%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: var(--primary-color); /* Dark Orange */
}

.section-2 p{
    font-size: 1.1rem;
    color: var(--textcolor); /* Light Gray */
    margin: 0;
}

.section-2 a{
    padding: 5px;
    width: 100px;
    color: var(--link-color); /* Lighter Blue for links */
}

/* media queries */
@media(max-width: 780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding: 0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}
